<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>404 - Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

		<!-- Stylesheets -->
		<link href="/styles/common.css" rel="stylesheet" type="text/css">
		<link href="/styles/simple-page.css" rel="stylesheet" type="text/css">
		<link href="/styles/404.css" rel="stylesheet" type="text/css">
		<meta name="theme-color" content="#ba0069">
		{{>partials/metaBasics}}
		<meta property="og:title" content="404 - Manzo's Marbles" />
		<meta property="og:type" content="game:multiplayer" />
		{{>partials/metaImage}}
	</head>
	<body>
		<h1>404</h1>
		<section class="column">
			I'm sorry, that marble is in another castle...
		<section>
	</body>
</html>
