<div id="cameraControls">
	<div class="header">
		<i class="icon-videocam"></i>Camera style:
	</div>
	<div class="options">
		<div id="cameraFree">
			<i class="icon-resize-full-alt"></i>
			<br/>Free
		</div>
		<div id="cameraTracking">
			<i class="icon-target"></i>
			<br/>Track
		</div>
	</div>
</div>
