* {
	margin:0;
}

body {
	font-family:monospace;
	background:#000;
	width:100vw;
	height:100vh;
	overflow:hidden;
	--twitch-purple:#6441A4;
	--twitch-purple-hover:rgb(125, 91, 190);
}

canvas {
	position:absolute;
	width:100vw;
	height:100vh;
}

#overlayControls {
	position:absolute;
	width:100vw;
	height:100vh;
	pointer-events:none;
	padding-left:100px;
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-end;
}

#overlayControls > * {
	pointer-events:initial;
}

#twitchLink {
	text-decoration:none;
}


#twitchConnect {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:var(--twitch-purple);
	padding:8px;
	display:none;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:.8em;
	font-weight:600;
	margin:8px;
	width:25ch;
	cursor:pointer;
}
	#twitchConnect:hover {
		background-color:var(--twitch-purple-hover);
	}

	#twitchConnect img {
		max-height:1.8em;
		margin-right:12px;
}

#menu {
	margin:8px;
	padding-bottom:8px;
	background-color:rgba(255,255,255,.8);
	opacity:.3;
	transition:opacity .25s;
	max-width:28vw;
	min-width:460px;
}

#menu:hover {
	opacity:1;
}

	h1 {
		background-color:#BA0069;
		color:#fff;
		text-align:center;
		padding:8px 0px;
	}

	#menuButtons {
		margin:8px;
		display:none;
	}
	
	.separator {
		display:flex;
		align-items:center;
		margin:12px 8px 0px 8px;
	}
	
	.separator hr {
		border:none;
		border-top:2px solid #000;
		margin:0px 8px;
		flex:1;
	}
	
	p {
		margin:0px 8px 4px 8px;
	}
	
	#marbleList {
		max-height:450px;
		overflow:auto;
	}
	
	#marbleListTemplate {
		display:none;
	}
	
	.marbleListEntry {
		margin:0px 8px;
		display:flex;
	}
	
		.marbleListEntry .rank {
			min-width:2.5em;
			margin-right:8px;
			text-align:right;
		}
	
		.marbleListEntry .color {
			min-width:1em;
			display:inline-block;
			margin-right:4px;
		}
		
		.marbleListEntry .id {
			min-width:2.5em;
			margin-left:8px;
			text-align:right;
		}
		
		.marbleListEntry .name {
			flex:1;
		}