* {
	margin:0;
}

body {
	font-family:"Do Hyeon",monospace;
	background:#000;
	width:100vw;
	height:100vh;
	overflow:hidden;
	--theme-color:#BA0069;
	--theme-color-dark:#4B002A;
	--twitch-purple:#6441A4;
	--twitch-purple-hover:rgb(125, 91, 190);
}

canvas {
	position:absolute;
	width:100vw;
	height:100vh;
}

a {
	color:#09f;
}

a:hover {
	color:#3df;
}

#sidebar {
	position:absolute;
	right:0px;
	width:360px;
	height:100vh;
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	background:#161616;
	color:#eee;
	padding:8px;
}

	#sidebar > *:not(a) {
		width:100%;
		box-sizing:border-box;
	}

	#sidebar > h4 {
		text-align:center;
		color:#444;
	}

	hr {
		border-top:none;
		border-left:none;
		border-right:none;
		border-bottom:2px dashed #444;
		margin-bottom:12px;
	}

	#title {
		width:100%;
		color:#aaa;
		text-align:center;
		font-size:1.3em;
		text-decoration:none;
	}
	#gameInfo {
		flex:1;
	}
	
		#gameState {
			display:flex;
			justify-content:space-around;
			align-items:center;
			margin-bottom:12px;
		}
			#state {
				margin:0px 8px;
				font-size:1.7em;
				text-align: center;
				width:260px;
			}
		
			#timer {
				flex:1;
				text-align:center;
				font-size:2em;
			}

	#title:hover {
		color:#eee;
	}

	#twitchLink {
		text-decoration:none;
		display:flex;
		justify-content:center;
	}
		
	#twitchConnect {
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color:var(--twitch-purple);
		padding:8px;
		justify-content:center;
		align-items:center;
		color:#fff;
		font-size:.8em;
		font-weight:600;
		width:25ch;
		cursor:pointer;
	}
		#twitchConnect:hover {
			background-color:var(--twitch-purple-hover);
		}

		#twitchConnect img {
			max-height:1.8em;
			margin-right:12px;
		}
		
	#twitchConnect,
	#welcomeMessage {
		display:none;
	}
	
	#twitchConnect ~ hr,
	#welcomeMessage ~ hr {
		margin-top:12px;
	}
	
	#welcomeMessage {
		text-align:center;
	}
	
.themeNumber {
	color:var(--theme-color);
	text-shadow:2px 2px var(--theme-color-dark);
}

#menu {
	flex:1;
}
	
	#menuButtons {
		margin:8px;
		/* display:none; */
		align-self:end;
	}
	
	.separator {
		display:flex;
		align-items:center;
		margin-top:12px;
	}
	
	.separator hr {
		border:none;
		border-top:2px solid #000;
		margin:0px 8px;
		flex:1;
	}
	
	p {
		margin:0px 8px 4px 8px;
	}
	
	#marbleList {
		min-height:240px;
		max-height:240px;
		overflow:auto;
	}
	
	#marbleListTemplate {
		display:none;
	}
	
	.marbleListEntry {
		margin:0px 8px;
		display:flex;
	}
	
		.marbleListEntry .rank {
			min-width:2.5em;
			margin-right:8px;
			text-align:right;
		}
	
		.marbleListEntry .color {
			min-width:1em;
			display:inline-block;
			margin-right:4px;
		}
		
		.marbleListEntry .id {
			min-width:2.5em;
			margin-left:8px;
			text-align:right;
		}
		
		.marbleListEntry .name {
			flex:1;
		}