/* Quicksand - latin */
@font-face {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	src: local("Quicksand"),
		local("Quicksand-Regular"),
		url("../fonts/quicksand/quicksand-latin-regular.woff2") format("woff2");
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

body {
	flex: 1;
	font-family: "Quicksand", sans-serif;
	font-size: 13px;
	background: #111;
	color: #eee;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0;
	padding: 0;
	max-width: 90ch;
	max-height: 900px;
}

.semiTransparent {
  background: #06060688;
}

header {
	display: flex;
	font-size: .9rem;
	padding: 0 4px;
	background: #06060666;
	align-items: center;
	justify-content: space-between;
}


	header > * {
		display: flex;
		align-items: center;
		font-family: "Uni Sans Heavy";
		font-size: .75em;
	}

	header > a {
		display: inline-block;
		color: #09f;
		margin-right: 4px;
	}

		header > a > img {
			height: .6rem;
			padding: .2rem 0;
		}

		header > a:hover {
			filter: brightness(130%);
		}

	header > div {
		color: #eee;
	}

	header > div > img {
		height: 1.5rem;
		margin-left: 4px;
		transform: translate(0, 1.2px)
	}

#chatMessages {
	flex: 1;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end; */
	overflow: auto;
	padding-bottom: 4px;
	line-height: 1.3em;
}

	#messageTemplate {
		display: none;
	}

	.message {
		display: flex;
		align-items: baseline;
		word-break: break-word;
		max-width: 100%;
		overflow: hidden;
		padding: 0 8px;
	}

	.message:nth-child(odd) {
		background-color: #0C0C0C66;
	}
		.message > .timestamp {
			font-size: .8em;
			font-family: "Droid Sans Mono", sans-serif;
			color: #999;
			margin-right: 4px;
			min-width: 2rem;
			padding: 0 2px;
			box-sizing: border-box;
			text-align: center;
		}

		.message > .content {
			flex: 1;
			margin-left: 1ch;
		}

			.message > .content > .username {
				float: left;
				margin-left: -1ch;
				margin-right: 4px;
				max-width: 80%;
				display: inline-flex;
				font-weight: 600;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

#chatInputContainer {
	display: flex;
	min-height: 2em;
	position: relative;
}

	#chatInputContainer > div {
		display: none;
		flex: 1;
	}

	#chatInputContainer > #unauthenticated {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		background: #060606;
		padding: 4px;
		text-align: center;
	}

		#unauthenticated > .info {
			width: 100%;
			font-weight: 600;
		}

		#unauthenticated > a {
			margin: 4px;
			background: var(--theme-color);
			border-bottom: 2px solid var(--theme-color-dark);
			color: #eee;
			text-decoration: none;
			padding: 2px 0;
			cursor: pointer;
		}

		#unauthenticated > a:hover {
			background: #FF2EA5;
			border-bottom: 2px solid var(--theme-color);
			text-shadow: 0px 1px 1px #111;
		}

		#unauthenticated > a.disabled {
			background: #555;
			border-bottom: 2px solid #363636;
			color: #888;
			text-shadow: none;
			cursor: not-allowed;
		}

		#chatInputContainer.authorized > #unauthenticated,
		#chatInputContainer.banned > #unauthenticated {
			display: none;
		}

	#authenticated {
		display: none;
		flex-direction: column;
	}
		#chatInputContainer.authorized > #authenticated {
			display: flex;
		}

		#chatUserAndInputContainer {
			display: flex;
			margin: 2px 10px;
		}

			#user {
				display: flex;
				align-items: center;
				margin-right: 4px;
				font-weight: 600;
				border-radius: 100%;
				background-color: #06060699;
				overflow: hidden;
			}

				#user > img {
					height: 2rem;
					width: 2rem;
				}

				#user > div {
					display: none;
					margin: 0 4px;
				}

				#user:hover {
					border-radius: 4px;
				}

				#user:hover > div {
					display: block;
				}

			#chatInput {
				flex: 1;
				font-size: 13px;
				padding-left: 4px;
				font-family: "Quicksand", sans-serif;
				padding-right: 2em;
				border-radius: 4px;
			}

			#buttonSend {
				font-size: 22px;
				position: absolute;
				right: 10px;
				top: 4px;
				cursor: pointer;
				color: #444;
			}

			#buttonSend:hover {
				color: #eee;
			}

		#chatButtons {
			display: flex;
			justify-content: space-between;
			margin: 2px 10px 4px 10px;
		}

			#chatButtons > * {
				display:block;
				font-family: "Quicksand", sans-serif;
				padding: 2px 4px;
				background: #060606;
				color: #eee;
				border-radius: 3px;
				font-weight: 600;
				text-decoration: none;
			}

			#chatButtons > *:not(:first-child) {
				margin-left: 4px;
			}

			#chatButtons > *:not(:last-child) {
				margin-right: 4px;
			}

			#chatButtons > *.minimal,
			button.minimal {
				margin-left: 0;
				color: #999;
				font-size:.9em;
			}

			#chatButtons > *:hover {
				background: var(--theme-color);
				/* border: 1px solid var(--theme-color); */
				color: #eee;
				text-decoration: none;
			}

	#banned {
		display: none;
		text-align: center;
		flex-direction: column;
		background: #06060699;
	}
		#banned a,
		#banned a:visited {
			color: #09f;
		}

		#banned a:hover {
			color: #3df;
		}

		#chatInputContainer.banned > #banned {
			display: flex;
		}

		#banTitle {
			padding-top: 4px;
			font-size: 2em;
			color: #e44;
		}

	input[type=number] {
		max-width: 50px;
		min-width: 30px;
		width: 100%;
		max-height: 19px;
		padding: 1px 2px 1px 3px;
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
		box-sizing: border-box;
	}

	input[type=number]:disabled,
	select:disabled {
		opacity: .5;
	}

	input[type=number],
	input[type=text],
	select {
		background: #06060699;
		color: #eee;
		border: none;
	}

	input:read-only {
		color: #999;
		font-style: italic;
	}

	input:-moz-read-only { /* little disappointed in Firefox here */
		color: #999;
		font-style: italic;
	}

/* Popout variant */
#success,
#failure {
	text-align: center;
	display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2b2929;
}
 
::-webkit-scrollbar-thumb {
    background: var(--theme-color); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-dark); 
}
