/* do-hyeon-regular - latin */
@font-face {
	font-family: "Do Hyeon";
	font-style: normal;
	font-weight: 400;
	src: local("Do Hyeon Regular"),
		local("DoHyeon-Regular"),
		url("../fonts/do-hyeon/do-hyeon-v8-latin-regular.woff2") format("woff2");
}

/* share-tech-mono-regular - latin */
@font-face {
	font-family: "Share Tech Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Share Tech Mono"),
		local("ShareTechMono-Regular"),
		url("../fonts/share-tech-mono/share-tech-mono-v8-latin-regular.woff2") format("woff2");
}

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	background: #111;
	padding: 1px;
}

body {
	font-family: "Do Hyeon", sans-serif;
	background: var(--theme-color);
	height: calc(100vh - 2px);
	overflow: hidden;
	display: flex;
}

a {
	color: #09f;
}

a:hover {
	color: #3df;
}

#viewport {
	flex: 1;
	margin: 6px;
	position: relative;
}

	#viewport canvas {
		border-radius: 15px;
	}

	#viewport .overlay {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		pointer-events: none;
	}

	#viewport .overlay > * {
		pointer-events: all;
	}

	#viewport .overlay button {
		height: 2em;
	}

	#notifications {
		align-self: flex-end;
		margin-bottom: 20px;
		text-align: center;
		max-width: 80ch;
	}

		@keyframes notification-appear {
			0%		{
				display: inline-block;
				max-width: 0ch;
				max-height: 0em;
			}
			100% 	{
				max-width: 80ch;
				max-height: 5em;
			}
		}

		#notification-template {
			display: none;
		}

		#notifications .notification {
			font-size: 1.5em;
			animation-name: notification-appear;
			animation-duration: .7s;
			animation-fill-mode: forwards;
			animation-iteration-count: 1;
			margin-top: 8px;
		}

		#notifications .notification-content {
			overflow: hidden;
			padding: 4px 16px;
			background-color: var(--theme-color);
			text-align: center;
			color: #eee;
			border-radius: 15px;
			text-shadow: 1px 1px 0px #111;
			box-shadow: 0px 3px 5px #111;
		}

#sidebar {
	right: 0px;
	width: 360px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #161616;
	color: #eee;
	margin: 6px;
	border-radius: 15px;
	/* border-left: 1px solid var(--theme-color); */
}

	#sidebar > *:not(a) {
		width: 100%;
		box-sizing: border-box;
	}

	#sidebar > h4 {
		text-align: center;
		color: #444;
		margin-bottom: 1em;
	}

	hr {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 2px dashed var(--theme-color-dark);
		margin-bottom: 12px;
	}

	#title {
		width: 100%;
		color: #aaa;
		text-align: center;
		font-size: 1.3em;
		text-decoration: none;
	}

	#gameInfo {
		min-height: 350px;
		padding: 9px;
		visibility: visible;
	}

		#gameInfo.hidden {
			visibility: hidden;
		}

		#gameInfo.enter #timer,
		#gameInfo.started #timer {
			display: block;
		}

		#gameInfo.starting #timer {
			display: none;
		}

		#gameInfo.enter #state {
			width: 260px;
		}

		#gameInfo.starting #state,
		#gameInfo.started #state {
			width: auto;
			flex: 2;
		}

		#gameState {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 12px;
			height: 2em;
		}
			#state {
				margin: 0px 8px;
				font-size: 1.7em;
				text-align: center;
			}

			#timer {
				flex: 1;
				text-align: center;
				font-size: 2em;
			}

	#title:hover {
		color: #eee;
	}

	#twitchConnect,
	#welcomeMessage {
		display: none;
	}

	#twitchConnect ~ hr,
	#welcomeMessage ~ hr {
		margin-top: 12px;
	}

	#welcomeMessage {
		text-align: center;
	}

.themeNumber {
	font-family: "Share Tech Mono", monospace;
	font-weight: 600;
	color: var(--theme-color);
	text-shadow: 2px 2px var(--theme-color-dark);
}

#chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 9px;
}

	#chat > iframe {
		flex: 1;
	}

.separator {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.separator hr {
	border: none;
	border-top: 2px solid #000;
	margin: 0px 8px;
	flex: 1;
}

p {
	margin: 0px 8px 4px 8px;
}

#marbleList {
	min-height: 240px;
	max-height: 240px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

#marbleListTemplate {
	display: none;
}

.marbleListEntry {
	margin: 0px 8px;
	display: flex;
	order: 9999;
}

	.marbleListEntry .rank {
		min-width: 2.5em;
		margin-right: 8px;
		text-align: right;
	}

	.marbleListEntry .color {
		min-width: 1em;
		display: inline-block;
		margin-right: 4px;
	}

	.marbleListEntry .id {
		min-width: 2.5em;
		margin-left: 8px;
		text-align: right;
	}

	.marbleListEntry .name {
		flex: 1;
	}
