:root {
	--theme-color: #BA0069;
	--theme-color-dark: #4B002A;
	--editor-theme-color: #EECC00;
	--editor-theme-color-dark: #997700;
	--patreon-orange: #f86754;
	--patreon-navy: #052d49;
	--twitch-purple: #6441A4;
	--twitch-purple-hover: rgb(125, 91, 190);
}

button {
	color: var(--theme-color);
	background: #111;
	border: none;
	cursor: pointer;
	padding: 4px;
	font-weight: 600;
}

button:hover {
	text-decoration: underline;
}

input[type=color] {
	padding: 0px;
}

.flexSpacer {
	flex: 1;
	visibility: hidden;
}
