body {
	--theme-color: #EECC00;
	--theme-color-dark: #997700;
}

#mode {
	text-align:center;
	font-size:2em;
	color:var(--theme-color-dark);
}
.properties {
	font-family: sans-serif;
	font-size: .8em;
}

.properties h3 {
	font-family:"Do Hyeon",monospace;
	font-size:1.3em;
	text-transform:uppercase;
	margin:.7em 0 0 0;
}

.properties table {
	min-width: 100%;
}