* {
	margin: 0;
}

html {
	--border-margin: 40px;
	background: #111;
}

body {
	font-family: sans-serif;
	width: calc(100vw - var(--border-margin));
	min-height: calc(100vh - var(--border-margin));
	margin: calc(var(--border-margin) * 0.5);
	/* overflow: hidden; */
	border: 12px solid #BA0069;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 3em;
	text-shadow: 1px 1px #000;
}

a, a:visited {
	color: #BA0069;
	margin-left: .5em;
}
a:hover {
	color: #23f9b0;
}

p {
	font-size: .5em;
	max-width: 70ch;
	margin: 0px 16px 16px 16px;
}

p:last-of-type {
	margin-bottom: 64px;
}

#headerImage {
	margin: .8em 0;
	min-width: 500px;
	max-width: 900px;
}
