

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	background: #111;
	padding: 1px;
}

a {
	color: #09f;
}

a:hover {
	color: #3df;
}

body {
	font-family: "Do Hyeon", sans-serif;
	background: #160909;
	height: 100vh;
	overflow: hidden;
	grid-gap: 2px;
	padding: 2px;
	box-sizing: border-box;
	color: #eee;
	border-top: 2px solid var(--theme-color);
}