<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
		
		<!-- Stylesheets -->
		<link href="styles/index.css" rel="stylesheet" type="text/css">
		<link href="styles/common.css" rel="stylesheet" type="text/css">
		<link href="styles/account.css" rel="stylesheet" type="text/css">
		
		<!-- Scripts -->
		<script src="scripts/lib/jsrsasign-all-min.js"></script>
		<script src="scripts/verifyJWT.js"></script>
		<script src="scripts/account.js"></script>
		
	</head>
	<body>
		<div id="verificationContainer">
			<span class="dancer">（〜^∇^)〜</span>
			<span id="verify">Verifying</span>
			<span class="dancer">〜（^∇^〜)</span>
		</div>
	
		<img src="images/logo.svg" alt=" " id="load"/>
		
		<div id="result">
			<div>Welcome back, <span id="name">you document inspecting nerd</span>!</div>
			<a href="/">Front page</a>
			<a href="/client">Client</a>
		</div>
		
		<div id="failedResult">
			Hmmm... Try again?
			<a id="twitchLink" href="https://id.twitch.tv/oauth2/authorize?client_id={{clientId}}&redirect_uri={{redirectUri}}&response_type=token+id_token&scope=openid" role="button">
				<div id="twitchConnect">
					<img src="images/Glitch_White_RGB.svg" alt="Glitch Logo"> Login with Twitch!
				</div>
			</a>
		</div>
		<!--  -->
		
	</body>
</html>