<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Chat - Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

		<!-- Stylesheets -->
		<link href="fontello/css/fontello.css" rel="stylesheet">
		<link href="styles/common.css" rel="stylesheet" type="text/css">
		<link href="styles/chat.css" rel="stylesheet" type="text/css">

		<!-- Scripts -->
		<script src="dist/chat.js"></script>
	</head>
	<body>
		<header>
			<div><img src="images/discord_powered.svg" alt="DISCORD POWERED"/></div>
		</header>
		<div id="chatMessages">
			<div class="message" id="messageTemplate">
				<div class="timestamp">
					00:00
				</div>
				<div class="content">
					<div class="username">
						<span class="name">everyone</span>:
					</div>
					<span class="text">
						Hey you! Looking foxy today! ;)
					</span>
				</div>
			</div>
		</div>

		<div id="chatInputContainer">
			<div id="unauthenticated">
				<div class="info">You are currently not logged in.</div>
				<a id="discordLink" target="_blank" style="flex:3"
					data-client_id="{{client_id}}"
					data-scope="{{scope}}"
					data-redirect_uri="{{redirect_uri}}"
					{{#state}}data-state={{state}}{{/state}}
				>Log in with Discord</a>
				<a target="_blank" style="flex:2" class="disabled" title="This is not supported yet!">Play as guest</a>
			</div>
			<div id="authenticated">
				<div id="chatUserAndInputContainer">
					<div id="user">
						<img src="images/logo.png" id="userAvatar">
						<div id="userName">
							everyone#6969
						</div>
					</div>
					<input type="text" placeholder="Message #game-chat" id="chatInput" maxlength="2000"/>
					<i class="icon-right-big" id="buttonSend"></i>
				</div>
				<div id="chatButtons">
					<button id="buttonLogOut" class="minimal"><i class="icon-logout"></i> log out</button>
					{{#invitelink}}<a href="{{invitelink}}" target="_blank" class="minimal"><i class="icon-link-ext"></i> join server</a>{{/invitelink}}
					<div class="flexSpacer">&nbsp;</div>
					<button id="buttonMarble">!marble</button>
				</div>
			</div>
		</div>
	</body>
</html>
