<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Contact - Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
		<meta name="theme-color" content="#ba0069">
		{{>partials/metaBasics}}
		<meta property="og:title" content="Contact - Manzo's Marbles" />
		<meta property="og:type" content="game:multiplayer" />
		{{>partials/metaImage}}

		<!-- Stylesheets -->
		<link href="styles/common.css" rel="stylesheet" type="text/css">
		<link href="styles/simple-page.css" rel="stylesheet" type="text/css">
		<link href="styles/contact.css" rel="stylesheet" type="text/css">

		<!-- Scripts -->
		<script src="dist/contact.js"></script>
	</head>
	<body>
		<img src="images/logo_text.svg" alt="Manzo's Marbles" id="headerImage">
		<section class="column">
			<h2>Contact</h2>
			<p>
				You can contact us at the following email address:
				<div id="reveal">Click here to reveal</div>
			</p>
		</section>
	</body>
</html>
