<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Editor - Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
		<meta name="theme-color" content="#eecc00">
		{{>partials/metaBasics}}
		<meta property="og:title" content="Editor - Manzo's Marbles" />
		<meta property="og:type" content="game:editor" />
		{{>partials/metaImage}}

		<!-- Stylesheets -->
			<!-- Webfont -->
			<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">

			<!-- Own styles -->
			<!-- <link href="fontello/css/fontello.css" rel="stylesheet"> -->
			<link href="styles/common.css" rel="stylesheet" type="text/css">
			<link href="styles/client.css" rel="stylesheet" type="text/css">
			<link href="styles/editor.css" rel="stylesheet" type="text/css">
			<style>
				body {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					color:#eee;
				}

				b {
					color:var(--theme-color-dark);
				}
			</style>
	</head>
	<body>
		<h2 id="mode">EDITOR IS DISABLED</h2>
		<p>To enable, edit the server config file and set the <b>config.editor.enabled</b> value to <b>true</b>. (requires restart)</p>
	</body>
</html>
