<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
		
		<!-- Stylesheets -->
		<link href="styles/common.css" rel="stylesheet" type="text/css">
		<link href="styles/index.css" rel="stylesheet" type="text/css">
		<!-- <link href="main.css" rel="stylesheet" type="text/css"> -->
		
		<!-- Scripts -->
		{{>partials/scripts/global}}
		
	</head>
	<body>
	
		<img src="images/logo_text.svg" alt="Manzo's Marbles" id="headerImage">
		
		<p>Hey! Welcome to Manzo's Marbles. This is a game where you roll a marble down a hill together with some other people. It's pretty chill. Come join!<p>
		<p>Based on and created as a tribute to the original <a href="https://www.twitch.tv/marbleracing">Marble Racing</a>.</p>
	
		You probably want the <a href="/client">client...</a>
		
	</body>
</html>