<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
		
		<!-- Stylesheets -->
		<link href="index.css" rel="stylesheet" type="text/css">
		<!-- <link href="main.css" rel="stylesheet" type="text/css"> -->
		
	</head>
	<body>
	
		You probably want the <a href="/client">client...</a>
		
	</body>
</html>