<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Privacy - Manzo's Marbles</title>
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
		<meta name="theme-color" content="#ba0069">
		<meta name="description" content="A game of racing marbles, and hoping that your marble wins.">
		<meta name="keywords" content="marble,racing,game,multiplayer,free,open source">
		<meta name="author" content="Zemanzo">
		<meta property="og:title" content="Privacy - Manzo's Marbles" />
		<meta property="og:description" content="A tool for web-marbles that allows for building custom levels" />
		<meta property="og:type" content="game:multiplayer" />
		{{>partials/metaImage}}

		<!-- Stylesheets -->
		<link href="styles/common.css" rel="stylesheet" type="text/css">
		<link href="styles/simple-page.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<img src="images/logo_text.svg" alt="Manzo's Marbles" id="headerImage">
		<section class="column">
			<h2>Privacy Policy</h2>
			<p>
				By accessing this website we assume you understand our privacy policy. Do not continue to use Manzo's Marbles if you do not agree with the policy
				stated on this page.
			</p>
			<h3>Logging</h3>
			<p>
				Our servers log very basic information about each computer connecting to our site, such as IP address, device characteristics, and browser type.
				None of this information is associated with any identified person at the time it is collected, but it could potentially be tied to you somehow
				if we are required to disclose our server logs as a result of a subpoena or other legal process.
			</p>
			<h3>Cookies</h3>
			<p>
				Cookies will only be used functionally. No tracking is performed.
			</p>
			<h3>Playing the game</h3>
			<p>
				By playing the game, either as a guest or with your Discord account, you agree that we will track various statistics (such as total amount of marble
				entries, total amount of marbles that finished / did not finish, etc.) when it comes to gameplay. These statistics are kept on a global level and
				thus cannot be tracked back to an individual.
			</p>
			<h3>Connecting with Discord</h3>
			<p>
				By logging in with Discord, you agree to their privacy policy &amp; their terms and conditions. You also agree that your Discord ID, username and
				discriminator will be stored in our database. We will use it to track your personal in-game statistics. It will never be shared with any third party
				unless legally required. In compliance with the GDPR, you have the option to remove all data associated with your Discord ID. You can do so
				by <a href="/contact">contacting us</a>. We aim to automate this service in the future, allowing you to remove your own data.
			</p>
			<h3>Revisions</h3>
			<p>
				We may occasionally revise our privacy policy by posting the changes here. We will attempt to inform you about any changes, but cannot be held
				liable if our efforts were unable to reach you.
			</p>
		</section>
		<footer>
			Last updated: April 18, 2019
		</footer>
	</body>
</html>
