<script src="scripts/lib/threejs/three.js"></script>
<script src="scripts/lib/threejs/OrbitControls.js"></script>
<script src="scripts/lib/threejs/PointerLockControls.js"></script>
<script src="scripts/lib/threejs/stats.min.js"></script>
<script src="scripts/lib/threejs/Water.js"></script>
<script src="scripts/lib/threejs/Sky.js"></script>
	
<!-- LOADERS -->
<script src="scripts/lib/threejs/loaders/LoaderSupport.js"></script>
<script src="scripts/lib/threejs/loaders/OBJLoader.js"></script>
<script src="scripts/lib/threejs/loaders/GLTFLoader.js"></script>